body {
  /* Updated body styles */
  background-color: #e7ecef; /* Neutral background color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 0px; /* Updated to remove padding */
}

/* Full-size header image styles */
#fullSizeHeader img {
  width: 100vw; /* Full width of the viewport */
  height: auto; /* Updated to auto to adjust height dynamically */
  object-fit: cover; /* Cover the entire area without stretching */
}

/* Style for larger screens */
#fullSizeHeader img {
  width: 100%;
  height: auto; /* Updated to auto to adjust height dynamically */
}

/* Media query for screens smaller than 500px */
@media screen and (max-width: 500px) {
  #fullSizeHeader img {
    /* Adjust the size of the image for smaller screens */
    width: 50%;
    height: auto;
  }
}

/* Main content CSS */

main {
  padding: 20px; /* Adds padding inside the main element */
  margin: 20px; /* Adds margin outside the main element */
}

#pageTitle {
  text-align: center;
  color: #000;
  margin: 20px 0;
}

#content {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

#definitionBox {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: left;
}

button {
  background-color: initial;
  background-image: linear-gradient(#2a6587 0, #82aabf 100%);
  border-radius: 20px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 190px;
}

button:hover {
  opacity: .7;
}

button.active {
  background-image: linear-gradient(#2b3438 0, #475b64 100%);
}

@media screen and (max-width: 1000px) {
  button {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}

/* Scrollymaps additions */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Static navigation bar styles */
nav {
  background-color: #000; /* Dark background for the navigation bar */
  color: #fff;
  position: fixed; /* Fixed position to keep it static */
  top: 0; /* Align to the top */
  width: 100%; /* Full width */
  z-index: 1000; /* Above other content */
  padding: 20px 0; /* Increased padding to make the bar thicker */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

nav ul li a:hover, nav ul li a:focus {
  background-color: #6c8694;
  border-radius: 5px;
}